all:
  children:
    primarydomaincontroller:
      hosts:
        "${hostname}":
          ansible_host: "${public_ip_address_for_active_directory}"
  vars:
    ansible_user: Administrator
    ansible_password: "${windows_password}"
    ansible_connection: winrm
    ansible_port: 5986
    ansible_winrm_transport: basic
    ansible_winrm_server_cert_validation: ignore
    pdc_administrator_password: "${windows_password}"
    pdc_domain: ad.domain.test
    pdc_domain_path: dc=ad,dc=domain,dc=test
