[gitlab]
"${hostname}" ansible_host="${public_ip}"

[gitlab:vars]
gitlab_external_url="https://${hostname}.${public_ip}.${domain}"
ansible_user=ubuntu
gitlab_letsencrypt=yes
ansible_ssh_private_key_file=~/.ssh/id_rsa
